p {
  color: white;
}

.post {
  color: white;
  text-align: left;
  padding-left: 100px;   
  border-top: 1px solid white;
}

.App {
  min-height: 100vh;
  background-color: #282c34;
  text-align: center;
}

.site_header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: white; 
}
